{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
    {% block title %}
    <title>Cadastre-se</title>
    {% endblock %}
</head>

{% block menu %}

{% endblock %}

{% block links %}

{% endblock %}

<body>
    <div class="container">
        <div class="form-image">
            <img src="#" alt="">
        </div>
        <div class="form">
            <form id="formulario">
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastre-se</h1>
                    </div>
                    <div class="login-button">
                        <button><a href="{% url 'paginas'%}">Inicio</a></button>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-box">
                        <label for="firstname">Nome e sobrenome</label>
                        <input id="nome" type="text" name="nome" placeholder="Digite seu nome" required>
                    </div>

                    
                    <div class="input-box">
                        <label for="email">E-mail</label>
                        <input id="email" type="email" name="email" placeholder="Digite seu e-mail" required>
                    </div>

                    <div class="input-box">
                        <label for="telefone">Telefone</label>
                        <input id="telefone" type="tel" name="telefone" placeholder="(xx) xxxx-xxxx" required>
                    </div>

                    <div class="input-box">
                        <label for="firstname">Cargo</label>
                        <input id="nome" type="text" name="nome" placeholder="Digite seu cargo" required>
                    </div>
                   


                </div>

               

                <div class="continue-button">
                    <button id="salvar" type="submit"><a class="nav-link" href="#">Cadastrar</a></button>
                </div>
            </form>
        </div>
    </div>

    {% block conteudo %}
    
    {% endblock %}

    {% block rodape %}
   
    {% endblock %}
</body>
    <script>
    import { postUsuario } from "..cadastro.js"

const formulario = document.getElementById('formulario')
formulario.addEventListener('submit', function(event) {
    event.preventDefault()

    const cadastro = {
        nome: document.getElementById('nome').value,
        email: document.getElementById('email').value,
        telefone: document.getElementById('telefone').value,
        senha: document.getElementById('senha').value
    }
    postUsuario()
})
    </script>
</html>