{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="icon" type="favicon.ico" href="{% static 'img/iconenodate.png' %}">-->
    {% block title %}   
<title>Empresas | N.O Date</title>
    {% endblock %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<!-- Importação do css datatables-->
<link rel="stylesheet"  href="{% static 'css/datatables.min.css' %}">

<!--<link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">-->


<style>
body{
    background-image: linear-gradient(to right, white, powderblue);
    font-family: "Arial";
}


h3, form{text-align:justify;
margin-left: 50px;}

h2{text-align:right;
margin-right: 50px;}


nav{text-align:justify;
margin-left:1020px;}



div{
    
    background-image: linear-gradient(to, right, white, powderblue);
    border: 50px solid transparent;
    border-width: 50px;
    border-radius: 70px 70px 100px 100px;
    box-sizing: border-box;
}
span{
    text-align: justify;
    margin-left: 650px ;

}


</style>
    
</head>

<!--<h3><a href="{% url 'bem-vindo' %}" class="logo"><img  width="120" src="{% static 'img/nodatelogo.png' %}" alt="logo"></a></h3>-->

{% load  static %} 


{% block destaque %}

{% endblock %}

{% block links %}


{% endblock %}

{% block conteudo %}
<br>
<br>
<h2><a href="{% url 'bem-vindo' %}" class="btn btn-primary btn-lg"> Início
</a></h2>
<b><h1 style="text-align: center"> Clientes</h1></b>
<br>
<br>
<h3><a end href="{% url 'cadastrar-empresas' %}" class="btn btn-primary btn-sm-lg">Cadastrar Cliente</a></h3>
<br>

<!--FORMULÁRIO DE BUSCA -->
<form action="?" method="GET">

    <input style="text-align:center" type="text" name="nome" id ="" value="{{ request.GET.nome }}" class="p-1 border", placeholder="Pesquisar">

    <button type="submit" class=" btn btn-primary btn-sm-lg">Buscar</button>

    <a href="{% url 'listar-empresas' %}"  class="btn btn-light">Limpar</a>
    
</form>
<br>


<div style="text-align: center" class="table-responsive" >
<table class='table table-hover   table-striped' id="tabela-clientes">
    <thead class="thead-dark">
        <tr> <!--Tag de personalisação de cabeçalho -->
            <th style="text-align:center">Nome</th>
            <th style="text-align:center">Descrição</th>
            <th style ="text-alig:center">Tipo de Pessoa</th>
            <th style="text-align:center">Setor</th>
            <th style="text-align:center">Gestor</th>
            <th style="text-align:center">Briefing do Cliente</th>
            <th style="text-align:center">Logomarca</th>
            <th style="text-align:center">Editar|Excluir</th>
        </tr>
    </thead>

    <tbody>
        {% csrf_token %}
        {% for cadastros in object_list %}
        <tr>
            <td>{{ cadastros.nome }}</td>
            <td>{{ cadastros.descriçao }}</td>
            <td>{{ cadastros.jurisdicao }}</td>
            <td>{{ cadastros.setor }}</td>
            <td>{{ cadastros.usuario }}</td>
            <td><a href="{{ cadastros.documento.url }}"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="40" fill="currentColor" class="bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16">
            <path d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z"/>
            <path fill-rule="evenodd" d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z"/>
            </svg></td></a>
            <td><img src="{{ cadastros.logomarca.url }}" alt="Logomarca" width="50" height="50"></td>       
        
        
        
            <td>
               <a href="{% url 'editar-cadastros-empresas' cadastros.pk %}" class="btn btn-primary" title="Editar">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
               <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
               <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
               </svg></a>
               <a href="{% url 'excluir-cadastros-empresas' cadastros.pk %}" class="btn btn-danger sm" title="Excluir">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
               <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
               <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
               </svg></a>
            </td>
        </tr>
        {% empty %}
        <tr> 
            <td>Nenhum cadastro registrado.</td>
        </tr>
        {% endfor %}
    
    </tbody>
  
</table>
</div>
<!-- Numeração da página-->
<b><span>Página {{page_obj.number}}</span></b>
    
</div>



<!--Se eu tiver uma página anterior -->
<nav aria-label="Page navigation example">
    <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item"><a  class="page-link" href="?page{{page_obj.previous_page_number}}">Anterior</a></li>
    <li class="page-item" ><a class="page-link" href="?page=1">1</a></li>
    <li class="page-item"><a class="page-link"  href="?page=2">2</a></li>
    <li class="page-item"><a class="page-link"  href="?page=3">3</a></li>
    {% endif %}

    {% if page_obj.has_next %}
    <li class="page-item"><a  class="page-link" href="?page={{page_obj.next_page_number}}">Próxima</a></li>
    {% endif %}
    </ul>
</nav>

<!--Método de paginação do django 'se eu tenho uma póxima página -> Avançar'
                                  'Se eu tenho uma página anterior -> 'Voltar' 
 -->
<!--Se eu tiver uma página anterior -->
<!--<div class="text-center" >-->
    {% if page_obj.has_previous %}
    <!--Link com o número/objeto da página anterior --> 
    <!--<a href="?page={{page_obj.previous_page_number}}"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg>Anterior</a>-->
    {% endif %}
    <!--Adicionando númeração das páginas -->
    <!--<span>Página {{page_obj.number}}</span>-->
    {% if page_obj.has_next %}
    <!-- Se eu tiver uma próxima página-->
    <!--<a href="?page={{page_obj.next_page_number}}"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
  <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
  </svg>Próxima</a>-->
    <!-- Link com o número/objeto da próxima página -->
    {% endif %}
<!-- 

OUTROS MÉTODOS DE PÁGINAÇÃO

page_obj.has_next
Retorna True se tem uma página depois da atual.

page_obj.has_previous
Retorna True se tem uma página antes da atual.

page_obj.next_page_number
Retorna o número da próxima página.

page_obj.previous_page_number
Retorna o número da página anterior.

E alguns atributos:
https://docs.djangoproject.com/en/3.1...

page_obj.number
Retorna o número da página atual.

page_obj.paginator.num_pages
Retorna o total de páginas.
 -->

{% endblock %}


<!-- Importando o jquery do static-->
<script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
<!-- Importando o popper do static -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Importando o bootstrap do static -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>



 
{% block scripts %}
<script src="{% static 'js/datatables.min.js' %}"></script>

<!--
<script>

    $(document).ready(function () {
    $('#tabela-clientes').DataTable({
        // TRADUÇÃO PARA O PORTUGUÊS
         responsive: true,
        // "bSort": false,
        "aaSorting": [],
        "pageLength": 10,
        "language": {
            "decimal": "",
            "emptyTable": "Sem dados disponíveis",
            "info": "Total",
            "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
            "infoFiltered": "(filtrado de MAX registos no total)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Filtrar",
            "loadingRecords": "A carregar dados...",
            "processing": "A processar...",
            "search": "Procurar:",
            "zeroRecords": "Não foram encontrados resultados",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Seguinte",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": ordem crescente",
                "sortDescending": ": ordem decrescente"
            }
        }
    });

});


</script>
-->

{% endblock %}


